@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Open+Sans:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrap-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.col {
  margin: 0;
  padding: 0;
  width: 50%;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 150px;
}

.navigation-menu__link {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: #000000;
  margin: 0;
  font-size: 1.5rem;
}

.navigation-menu__link:hover {
  text-decoration: none;
  color: #000000;
}

.navigation-menu__link_active {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

.vertical-menu__item {
  color: #000000;
  display: block;
  margin-bottom: 90px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.vertical-menu__item::before {
  content: '';
  display: inline-block;
  background: url("../img/scroll-section-box.png") no-repeat center left;
  position: relative;
  top: 20px;
  height: 50px;
  width: 50px;
  left: -25px;
  margin-right: 30%;
}

.vertical-menu__item_active {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

.vertical-menu__item_active::before {
  background: url("../img/scroll-section-box-active.png") no-repeat center left;
}

.vertical-menu__item:hover {
  text-decoration: none;
  color: #000000;
}

.content-section__name {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 77px;
  margin: 30px 0;
}

.content-section__name_about-me-mod {
  margin-top: 0;
  border-left: 1px solid black;
}

.content-section__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 0 10%;
}

.content-section__image {
  width: 100%;
  padding: 0 10%;
  margin: 70px 0 50px 0;
}

.content-section__image_about-me-mod {
  margin-top: 0;
}

.content-section__subtitle {
  text-align: center;
  margin: 30px 0;
  padding: 0 10%;
}

.content-section-contact-mod__name {
  text-align: left;
  font-size: 24px;
}

.content-section-contact-mod__text {
  text-align: left;
  font-size: 16px;
  padding: 0;
}

.form {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  padding: 0 10%;
}

.form__label {
  width: 100%;
  font-size: 24px;
}

.form__input {
  width: 100%;
  background-color: #f1f1f1;
  border: none;
}

.form__button {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1.1px;
  background-color: none;
  border: none;
}

.copyright {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  width: 100%;
  font-size: 24px;
  line-height: 78px;
}

.footer {
  text-align: center;
  height: 100px;
  padding-top: 20px;
  margin-top: 50px;
}

.gallery__image {
  width: 100%;
}

.what-i-do__title {
  border-right: 1px solid black;
}

.what-i-do__content-section {
  padding-top: 100px;
}

.about-me {
  margin-top: 50px;
}

.contact__content-section {
  padding: 0 10%;
}

.contact__name {
  text-align: left;
}

.contact__title {
  border-right: 1px solid black;
}

.position-wrap-contacts {
  margin-top: 100px;
}
/*# sourceMappingURL=style.css.map */