.content-section
    &__name
        +karlaregular
        text-align: center
        font-size: 77px
    &__text
        +opensanslight
        font-size: 18px
    &__image
        width: 100%
        