.content-section
    &__name
        +karlaregular
        text-align: center
        font-size: 77px
        margin: 30px 0
        &_about-me-mod
            margin-top: 0
            border-left: 1px solid black
    &__text
        +opensanslight
        font-size: 18px
        padding: 0 10%
    &__image
        width: 100%
        padding: 0 10%
        margin: 70px 0 50px 0
        &_about-me-mod
            margin-top: 0
    &__subtitle
        text-align: center
        margin: 30px 0
        padding: 0 10%

.content-section-contact-mod
    &__name
        text-align: left
        font-size: 24px
    &__text
        text-align: left
        font-size: 16px
        padding: 0

.content-section_about-me-mod