.vertical-menu
    &__item
        color: #000000
        display: block
        margin-bottom: 90px
    &__item::before
        content: ''
        display: inline-block
        background: url('../img/scroll-section-box.png') no-repeat center left
        position: relative
        top: 20px
        height: 50px
        width: 50px
        padding-right: 50%
    &__item_active
        +karlabold
    &__item_active::before
        background: url('../img/scroll-section-box-active.png') no-repeat center left