.what-i-do-section
    +karlaregular
    &__upper-section
        padding-top: 160px
    &__lower-section
        margin-top: 225px

.section-description


.visual-description
    &__image
        width: 100%

.section-header
    text-align: center
    &__header
        font-size: 75px



.paragraph
    font-size: 18px

.middle-section
    text-align: center

.vertical-line
    border-left: 1px solid black
    height: 100px
    position: absolute
    left: 50%
    margin-left: -1px
    top: 0